h3 {
    display:unset;

}

.topBaClass {
    background-color: tan;
} 

@media screen and (orientation: landscape) {
    .topBaClass {
        background-color: red;
    }

    .cercaClass {
        width: 5%;
    }
}

@media screen and (orientation: portrait) {
    .topBarClass {
        background-color: white;
        align-self: center;  
        padding: 3%;
        padding-right: 5%;
        border-bottom: 20px outset white;
        border-bottom-style: solid;
    }
    
    .cercaClass {
        width: 7%;
        padding-left: 40%;
        margin-bottom: 3.5%;
    }

    .homeImageClass {
        width: 15%;
    }

    .menuClass {
        width: 7%;
        margin-left: 3%;
        margin-bottom: 3.5%;
    }

    .contattiClass {
        width: 90px;
        margin-bottom: 3.5%;
    }
}

